@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

body {
  font-family: $FONT_FAMILY_BASE;
  color: $COLOR_BASE;
}

img {
  max-width: 100%;
  margin: 0;
  display: block;
}